<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360274576760-jfmqj2h9o8cqt1md9v3qi2u49siiu1oq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360274576760-jfmqj2h9o8cqt1md9v3qi2u49siiu1oq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>360274576760-m4qd3v0seqfqelkrlffeimimeqpnktq3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_xWTfZCXHkdrjsJUVw3trWwVoC4r5Fho</string>
	<key>GCM_SENDER_ID</key>
	<string>360274576760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cashierApp.cashierApp</string>
	<key>PROJECT_ID</key>
	<string>pub-s-pizza</string>
	<key>STORAGE_BUCKET</key>
	<string>pub-s-pizza.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360274576760:ios:fab24ba505612c649c748d</string>
	<key>DATABASE_URL</key>
	<string>https://pub-s-pizza-default-rtdb.firebaseio.com</string>
</dict>
</plist>